.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    position: fixed;
    width: 100vw;
    z-index: 9;
    height: 5rem;
    background-color: purple;
}

.toggle-icon {
    font-size: 2rem;
    left: 0;
    cursor: pointer;
}

.logo {
    color: white;
    font-size: 1.7rem;
    text-align: left;
    background-color: red;
}

.input-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.input-section > input
{
    padding: 0.5rem;
    display: none;
    outline: none;
    width: 25rem;
}

.search-container {
    background-color: white;
    padding: 0.5rem;
    border-radius: 100%;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    right: 0;
    margin-right: 5px;
}


.search-icon {
    font-size: 1.2rem; 
    color: black;
}   

.clicked-search {
    position: absolute;
    padding: 3rem 1rem;
    height: auto;
    width: 320px;
    left: 0;
    background-color: purple;
    top: 0;
    z-index: 11;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
}


.clicked-search input {
    height: 2.4rem;
    border-radius: 10px;
    height: 3rem;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 300;
    padding-left: 0.5rem;

}

.back-container {
    height: 2.1rem;
    width: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: white;
}

.back {
    font-size: 1.5rem;
    cursor: pointer;
}

.back-container:hover {
    opacity: 0.9;
}

@media (min-width: 1200px) {
    .input-section > input
    {
        display: block;
    }

    .logo {
        width: 17%;
        text-align: center;
        color: white;
    }

    .clicked-search {
        display: none;
    }

    .search-container{
        position: absolute;
    }
}
