<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Style/signup.css">
</head>
<body>
    

    <form action="/log-in" method="get" id="signupForm">
        <div class="container">
  
      
          <div class="title">
              <h1>Create Account</h1>
          </div>
          <div class="inputs">
              <input type="text"  id="name" name="userName" placeholder="Username" required>
              <input type="password" id="password" name="password" placeholder="Password" >
          </div>
         
          <div class="login">
              <input   type="submit" >
          </div>
          <div class="signUp">
              <p>Already have an account yet? <a href="/log-in">Log in</a></p>
          </div>
         
         </div>    
  </form>  
      
  
  <script src="/scripts/script.js"  ></script>
  
         
</body>
</html>