 .Feed{
    border: 1px solid gray;
    border-radius: 10px;   
 }
.TITLE{
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; 
}
.TITLE h1{
    font-size:xx-large;
}
 .create{
    display: flex;
    justify-content: space-between;
    border: 2px solid gray;
    margin: 10px 10px 20px 10px ;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
 }
 .btnCreate h3{   
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-weight:bolder;     
    font-size: larger;
 }
 .btnCreate{
    background-color: rgb(106, 231, 106);
    width: 20%;
    align-items: center;
    border-radius: 10px;
 }
 .btnCreate:hover{
    background-color: rgb(96, 248, 96);
 }
 .category{  
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; 
 }
.category div h3 {
    display: flex;
    align-items: center;
   }
.category div:hover{
    background-color: antiquewhite;
   } 
 .category > div{
    display: inline-flex;
    background-color: grey;
    width: auto;
    height: 30px;
    margin-left: 10px; 
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px;   
    font-size:small;
 }
.postArea{
    margin:40px;
}
 .post{
    background-color: rgb(249, 243, 235);
    border: 3px solid gray;
    width: 80%;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-bottom: 10px;
 }