
    /*====================
        CUSTOM PROPERTIES
    ======================*/
    :root {
        --bg-color: ;
        --primary-color: ;
        --secondary-color: ;
        --hover-color: ;
        --ff: 'Kanit', sans-serif;

    }

    /*=============
        RESETS
    ===============*/
    *, *::before, *::after {
        box-sizing: border-box;
    }

    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
    }

    
    img, picture, video, canvas, svg {
        display: block;
        max-width: 100%;
    }

    input, button, textarea, select {
        font: inherit;
    }

    p, h1, h2, h3, h4, h5, h6 {
        overflow-wrap: break-word;
    }

    #root, #__next {
        isolation: isolate;
    }


    /*====================
        GENERAL STYLES
    ======================*/
    body {
        overflow-x: hidden;
        font-family: var(--ff)
    }
    
    h1 {
        font-size: 1.4rem;
    }  
    
    h3 {
        font-size: 1rem;
    }

    /* ============================================================================================================
        usba or tangtanga lang nang mga fixed(px) width og height ako gi set sa taga components kung magsugod namo
    ===============================================================================================================*/

    /*================
        LAYOUTS
    =================*/
    .grid {
        display: grid;
        gap: .5em;
        grid-template-columns: 1fr;
        grid-template-rows: 60px 100vh;
    }

    .container {
        border: 1px solid;
    }
    
    .main {
        margin-inline: auto;
        border: none;
    }
    
    /* == NAVBAR == */

    .navbar {
        padding: 1em;
        position: fixed;
        z-index: 9;
        width: 100%;
    }

    .toggle-icon {
        position: absolute;
        z-index:  9;
        font-size: 2rem;
    }

    .logo {
        margin-left: 2em;
    }


    /* == SIDEBAR == */

    .backdrop {
        position: fixed;
        width: 100%;
        height: 100vh;
    }
    
    .sidebar {
      
        transform: translateX(-100vw);
        transition: transform .5s;
        margin-top: 3.8em;
        width: 200px;
        height: 100vh;
        background-color: white;
    }
    
    /* === POSTS COMPONENTS(src/components/posts) === */ 
    .posts {
        margin-top: 5em;
        border: 1px solid red;
    }

    .flex-col {
        width: 100%;
    }

    /* == STORIES == */

    .stories {
        height: 150px;  /* rehas ani kamo na bahala sa height ayaw e (px) aron di mo overflow and content  */
    }
   
     /* == CATEGORIES == */

    .categories {
        height: 100px;  /* rehas ani kamo na bahala sa height ayaw e (px) aron di mo overflow and content  */
    }
 

    /* == POST-LIST == */

    .post-list {
        /* height: 100vh; */
    }

      /* == RIGHT BAR == */

    .sidebar-secondary {
        height: 100vh;
        width: min(100%, 300px);
    }

     /* == STORIES  == */

    .story-list {
        display: flex;
        align-items: center;
        flex-direction: wrap;
        gap: 1em;
    }
    
    /*
    .story {
        border: 1px solid;
        width: 200px;
        height: 120px;
        padding: 1em;   
    } */


    
    /*====================
        UTILITY CLASSES
    ======================*/
    
    .darken {
        background: rgba(0,0,0,0.5); 
    }

    .show {
       
        display: block;
        transform: translateX(0)
    }

    .gap {
        display: grid;
        gap: .5em;
    }


    /*=================
        MEDIA QUERIES
    ==================*/

    @media (min-width: 720px) {
        .grid {
            grid-template-columns: repeat(4, minmax(100px, 1fr));
        }

        .navbar {
            grid-column: 1 / 5;
        }

        .posts {
            grid-column: 1 / 5;
        }
        
        .flex-row {
            gap: .5em;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }

    }
    
    @media (min-width: 960px) {
        
    } 


    @media (min-width: 1200px) {
        .grid {
            grid-template-columns: repeat(12, minmax(100px, 1fr));
            /* grid-template-columns: 200px 1fr auto 300px; */
        }

        .toggle-icon {
            display: none;
        }

        .logo {
            margin-left: unset;
        }

        .navbar {
            grid-column: 1 / 13;
        }
        
        .posts {
            grid-column: 3/ 13;
        }

        .backdrop {
            grid-row: 2;
            background: unset;
            position: unset;
            height: 100vh;
            grid-column: 1 / 3;
            border: none;
        }
      
        .sidebar {
            border: 1px solid;
            position: fixed;
            transform: translateX(0);
            width: 15%;
            height: 100vh;
            margin: unset;
        }
    }
