body{
    background: radial-gradient(circle, rgba(184,174,238,1) 14%, rgba(11,133,109,1) 89%);

}


.hidden {
    display: block;
}



.container{
  background-color: blue;
  height: 67vh;
  margin: 150px;
}
#title{
    text-align: center;
}

.searhArea{
    display: flex;
    justify-content: center;
    align-items: center;
}
.BusCodes{   
    margin-top: 100px;
    background-color: brown;
    height: 100px;
}

.BusCodes div {
    text-align: center;
     
}
    